<!DOCTYPE HTML>
<html>
  <head>

    <!-- Basic Page Needs
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Gentle Reminder Bot</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Favicon
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

  </head>
  <body>
  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Overview</h3>
      <p class="section-description">The Gentle Reminder bot is a simple bot that watches for user-defined keywords, and suggests replacements when it sees them</p>
      <p class="section-description">Gentle Reminder is opt-in per user, not per team. Individuals won't see suggestions unless they ask for them.</p>
      <p class="section-description">Users can ignore suggestions once, or ignore them forever.</p>
      <p class="section-description">Keywords and replacements are configurable per-team.</p>
      <p class="section-description">
      <a href="https://slack.com/oauth/authorize?&client_id=43005813686.262629627618&scope=bot,chat:write:user,channels:history,chat:write:bot,groups:history"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
      </p>
    </div>
    </div>
  </div>
  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Demo</h3>
      <iframe width="448" height="252" src="https://www.youtube.com/embed/4qW5__Q-mIE?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
  </body>
</html>
