<!DOCTYPE HTML>
<html>
  <head>

    <!-- Basic Page Needs
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Gentle Reminder Bot</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Favicon
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

  </head>
  <body>
  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Thanks for installing!</h3>
      <p class="section-description">You've successfully installed the Gentle Reminder bot.</p>
      <p class="section-description">You can always send a "help" DM to the bot, or type "/gentlereminder help" to see a list of commands.</p>
      </p>
    </div>
  </div>
  </body>
</html>
